 :root {
    --secondary-text-color:#757575;
    --accent-text-color:#2196F3;
    --accent-bg-color:#AFB1B8;
    --primary-text-color:#212121;
    --primary-white-color:#FFFFFF;
    --primary-color: rgba(255, 255, 255, 0.6);
    --primary-background-color:#2F303A;
    --secondary-background-color: #F5F4FA;
    --secondary-border-color: #EEEEEE;
    --secondary-border:#ececec;
}   

body {
    font-family: "roboto", sans-serif;
    font-size: 14px;
    color:var(--primary-text-color);
    background-color:var(--primary-white-color);
    letter-spacing: 0.03em;  
}

a {
    text-decoration: none;
    
}

ul {
    padding: 0;
    list-style: none;
}


.header {
   
    border-bottom:var(--secondary-border) 1px solid;
    align-items: center;

}


.header-title.container {
    display: flex;
}


.header-nav {
    display: flex;
}

.header-logo {
    margin-right: 93px;

    font-family: "raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--primary-text-color);    
}
.header-logo,.navig-item,.header-wrap {
    display: flex;
   
    align-items: center;
    flex-direction:row;
}
.accent-logo {
    color: var(--accent-text-color);
}

.navigation-item:not(:first-child) {
    margin-left: 50px;
   
}

.navigation-item {    
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
   
}
.navig-item:nth-child(1):after .active {
    position: absolute;
    width: 48px;
    height: 4px;
    left: 451px;
    top: 76px;

    background: #2196F3;
    border-radius: 2px;
}
.navig-item {
    display: flex;
}
.header-wrap {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    gap: 50px;
}

.wrap-contact {
    display: flex;
    
}

.header-contact {
    display: inline-flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    padding-top: 32px;
    padding-bottom: 32px;
   
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--secondary-text-color);
}

.header-contact::before {
    display: inline-flex;
    content: "";
    width: 12px;
    height: 16px;
 
    justify-content: center;
}
.svg {
    margin-right: 10px;
    fill: currentColor;
}

.header-contact:hover,
.header-contact:focus {
    fill: var(--accent-text-color);
    color: var(--accent-text-color);
}


.navigation-link:hover,
.navigation-link:focus, 
.header-contact:hover,
.header-contact:focus {
    color:var(--accent-text-color);
}



.navig-item.current {
    position: relative;
    display: block;
    
}

.navigation-link.current::after {
    position: absolute;
    display: block;
    content: "";

    margin-top: 29px;
    width: 100%;
    height: 4px;

    background:var(--accent-text-color);
    border-radius: 2px;
}
.navigation-link.current {
    color:var(--accent-text-color);
}

.navigation-link {
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    color:var(--primary-text-color);
}

.container {
    
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
    /* outline: 2px solid tomato; */
} 

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

ul {
    padding-left: 0;
}
button {
    border: none;
}


.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;

    max-width: 1600px;
   
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../images/page.bg.jpg");
   
    background-position: center;
    background-size: cover;
  
    text-align:center;  
}

.hero-title {
    max-width: 696px;
    margin:0 auto;

    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color:var(--primary-white-color);
    
}

.hero-button {
    border-radius: 4px;
    border-color: transparent;
    padding:10px 32px;
    margin-top: 30px;

    font-family:inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;       
    letter-spacing: 0.06em; 
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:var(--primary-white-color);
    background-color:var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}   

.hero-button:hover,
.hero-button:focus {
    background-color:#188CE8;
}


/* наші особливостві Чим ми займаємося */



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits,.secon,.section-job,.customers {
    padding-top: 94px;
}
.secon,.section-job,.customers {
    padding-bottom: 94px;
}
.title-secon {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color);
    
}


.icon-benefits {
    display: flex;
    gap: 30px;
}

.icon-benefits {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 270px;
    height: 120px;
   
    border-radius: 4px;
    background-color:var(--secondary-background-color);
   
}
.icon-list {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: center;
}
 
.title-photo {
    display: flex;
    position: relative;
   
}

img {
    display: block;
    max-width: 100%;
    
}

.thubm {
    position: relative;
   
}
.list-photo:not(:first-child) {
    margin-left: 30px;
}
.label {
    position:absolute;
    left: 0;
    bottom: 0;
    padding-top: 27px;
    
    background: rgba(47, 48, 58, 0.8);
    

    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    
    width: 370px;
    height: 70px;
    color: var(--primary-white-color);
}


.benefits-title {  
    margin-top: 30px; 
    margin-bottom: 10px;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    
}

.benefits-description {
    line-height: 1.71;
    color: var(--secondary-text-color);
    width: 270px;
}

/* Наша команда */

.section-job {
    background-color: var(--secondary-background-color);

}


.section-title {
    background-color: var(--primary-white-color);
}

.team-user {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-job {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color:var(--secondary-text-color);
    margin-bottom: 16px;
}
.workers {
    padding: 30px 0;
}

.icon-social {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.icon-link {
      
    align-items: center;
    justify-content: center;
    transition: transform 250ms;
    
    
}

.icon-shape {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
   
    color: var(--accent-bg-color);

}

.svg-inline {
    fill: currentColor;
}

.icon-shape:hover,
.icon-shape:focus {
    background-color:var(--accent-text-color);
    color: var(--primary-white-color);
}



.icon-social::after {
    display: inline-flex;
    content: "";
    
    justify-content: center;
    background: currentColor;
    position: absolute;
   
}


/* Постійні клієнти     */

.clients {
    display: flex;
    gap:30px;
}
.icon-clients {
    transition: transform 250ms;
}
.icon-customers { 
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: var(--accent-bg-color); 
}  

.icon-customers:hover,
.icon-customers:focus {
    border-color:var(--accent-text-color); 
    color: var(--accent-text-color); 
     
}

.icon-customers:hover>svg {
    fill: var(--accent-text-color);    
}



/* footer */
.footer {
   
    padding-top: 60px;
    padding-bottom: 60px;

    background-color:var(--primary-background-color);
}

.footer-logo {    
    display: flex;

    font-family: "raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
    color:var(--primary-white-color);
}


 .footer-address {
    font-style: normal;
    line-height: 1.71;
    margin-top: 20px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:var(--primary-white-color);
 }


.footer-list {
    margin-top: 20px;
}
.footer-contact {
    font-style: normal;
    line-height: 1.71;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color:var(--primary-color);
}

.footer-list:not(:first-child) {
    margin-top: 10px;
}

.footer-address:hover,
.footer-address:focus,
.footer-contact:hover,
.footer-contact:focus {
    color:var(--accent-text-color);
}
.footer-link {
    margin-bottom: 20px;
    
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color:var(--primary-white-color);
}
.site-navigation {   
    width: 44px;
    height: 44px;
    border-radius: 50%;
   

    display: block;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-navigation {
    display: flex;
}

.site {
    fill:currentColor;
    fill:var(--primary-white-color);
    color:var(--primary-white-color);
}

.site-navigation:hover, 
.site-navigation:focus {
    background-color:var(--accent-text-color);
}

.footer-site {
    display: flex;
    gap: 10px;  
    margin-right: 93px;  
}


.container.container-icon {
    display: flex;
    align-items: baseline;
}
.container-site {
    margin-right: 70px;
}
.container-site.footer-link {
    
    display: flex;
    align-items: center;
    flex-direction:row;   
}

.footer-icon {
    display: block; 
}

.footer-from {
    display: flex;
}

.footer-input {
    height: 50px;
    width: 358px;
    margin-right: 12px;

    background: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
    color:var(--primary-white-color);
}

.send {
  margin-left: 10px;

}

.footer-send {
    padding: 10px 28px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
       
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    background-color:var(--accent-text-color);
    color:var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
}
.footer-send:focus,
.footer-send:hover {
    background-color: #188CE8;
}





/* portfolio */

.hero-navigation {
    padding-top: 94px;
    padding-bottom: 94px;
}
.navigation-button {
    display: flex;
    
    justify-content: center;
    margin-bottom: 50px;
    gap: 8px;
}

/* другий спосіб по відступах між елементами */


/* .title-button:not(:first-child) {
    margin-left: 8px;
} */

.main-button {
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
     color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    color:var(--primary-text-color);
    background-color:var(--secondary-background-color);
  
}


.title-button:hover,
.title-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px
    rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.main-button:hover,
.main-button:focus {
    background-color:var(--accent-text-color);
    color:var(--primary-white-color);
}


.wrap-title {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
/* другий спосіб по відступах між елементами */
/* .wrap-list {
    margin-right: 30px;
    margin-bottom: 30px;
}

.wrap-list:nth-child(3n) {
    margin-right: 0px;
}
.wrap-list:nth-last-child(-n+3) {
    margin-bottom: 0px;
} */

.user-wrapper {
    padding:20px 24px;
   
    border-left: var(--secondary-border-color) 1px solid;
    border-right: var(--secondary-border-color) 1px solid;
    border-bottom: var(--secondary-border-color) 1px solid;
   
}
.wrap-list {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.wrap-list:hover,
.wrap-list:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px
     rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.main-user {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--primary-text-color);
}

.item-main {
    font-size: 16px;
    line-height: 1.88;
    color:var(--secondary-text-color)
}
.photo-user {
    display: block;
}
.wrap-details {
    position:relative;
    overflow: hidden;
    cursor: pointer;

    background: rgba(33, 150, 243, 0.9);
     /* cubic-bezier(0.4, 0, 0.2, 1); */

}


.list-details {
    position: absolute;
    transform:translateY(100%);
    transition: background-color;
     /* 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms; */
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top:0;
    left:0;
    height: 100%;


    padding :64px 24px;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-white-color);
   
    background: rgba(33, 150, 243, 0.9);
   
}

.wrap-details-list:hover .list-details {
    transform: translateY(0);
  
}

/* portfolio */

/* МОДЕЛЬНЕ ВІКНО */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(0, 0, 0, 0.2);
  
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding-top: 40px;

    min-width: 528px;
    min-height: 581px;
    fill:var(--primary-text-color);
    
    background-color:var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
   
    position: absolute;
    top: 0px;;
    right: 0px;
   
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background:var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
   
    width:18px;
    height: 18px;    
}

.close-button:focus svg, 
.close-button:hover svg {
    fill: var(--accent-text-color);   
}


.modal-title {
display: block;
text-align: center;

font-weight: 700;
font-size: 20px;
line-height: 1.15;

color: #212121;
}

.modal-form {
    display: block;
   
    margin-top: 14px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    width: 100%;

    color: #757575;
}
.modal-element {
    display: flex;
    flex-direction: column; 
   
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    text-align: left;
    width: 100%;

    margin-bottom: 10px;
}

.modal-element label {
    margin-bottom: 4px;
}
.modal-element input {
    height: 40px;
    width: 100%;
    padding-left: 42px;
       
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    background: #FFFFFF;
   
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    outline: none;
}

.modal-icon {
    position: relative;
}
.modal-icon svg {
    position: absolute;
    
    top:50%;
    left:12px;
    translate:0 -50%;
}
.modal-element input:focus + svg {
    fill:var(--accent-text-color);
}
.modal-element input:focus {
    border: 1px solid var(--accent-text-color);
}
.modal-element textarea:focus {
    border: 1px solid var(--accent-text-color);
}
.modal-element textarea {
    height: 120px;
    width: 448px;
    padding: 12px 16px;
   
    background: #FFFFFF;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    cursor: pointer;
    resize: none;
    outline: none;
}
.textarea {
    margin-bottom: 20px;
}
.modal-policy {
    display: flex;
    justify-content: center;

    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    
    margin-bottom: 30px;
}
.label-policy {
    display: flex;
    align-items: center;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;

    width: 16px;
    height: 15px;

    border-radius: 2px;
    border: 2px solid #212121;
}
.modal-policy input:checked + .checkbox {
    background: var(--accent-text-color);
    border: 2px solid var(--accent-text-color);
}

.modal-policy input:focus-within > .checkbox {
    background: var(--accent-text-color);
    border: 2px solid var(--accent-text-color);
}

.policy {
    margin-left: 5px;
    text-decoration-line: underline;
    color: var(--accent-text-color);
}
.policy-link {
    color:var(--accent-text-color);
}
.from-button {
    display: flex;
    justify-content: center;
}
.modal-form .modal-button {
    cursor: pointer;
    padding: 10px 52px;
    background: var(--accent-text-color);
    color: var(--primary-white-color);
}
.modal-button { 
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;

    background-color: var(--accent-text-color);
    color:var(--primary-white-color);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.modal-button:focus,
.modal-button:hover {
    background-color: #188CE8;
}


