@import "./base/variables";
@import "./base/utils";
@import "./base/common";

// Layouts
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/benefits";
@import "./layouts/ourWork";
@import "./layouts/team";
@import "./layouts/clients";
@import "./layouts/footer";


// MODAL
@import "./components/modal";



// Portfolio
@import "./layouts/button-portfolio";
@import "./layouts/wrap-portfolio";








