.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
} 

.benefits,.secon,.section-job,.customers {
    padding-top: 94px;
}

.secon,.section-job,.customers {
    padding-bottom: 94px;
}

.title-secon  {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-text-color);  
}