.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.no-scroll {
    overflow: hidden;
}


.benefits,.section-job,.customers {
    padding-top: 60px;

    @media screen and(min-width:1200px) {
        padding-top: 94px;
    }
}
.benefits {
    padding-bottom: 60px;
    @media screen and(min-width:1200px) {
        padding-bottom: 0;
    }
}
.section-job,.customers {
    padding-bottom: 60px;

    @media screen and(min-width:1200px) {
        padding-bottom: 94px;
    }
}
@media screen and(max-width:1199px) {
    .secon {
        display: none;
    }
    
}

@media screen and(min-width:1200px) {
        .secon {
        padding-bottom: 94px;
        padding-top: 94px;
        }
}
 

.title-secon  {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.178;
    text-align: center;
    color: var(--primary-text-color);  

    @media screen and(min-width:1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
    }
  
}