:root {
    --secondary-text-color:#757575;
    --accent-text-color:#2196F3;
    --accent-bg-color:#AFB1B8;
    --primary-text-color:#212121;
    --primary-white-color:#FFFFFF;
    --primary-color: rgba(255, 255, 255, 0.6);
    --primary-background-color:#2F303A;
    --secondary-background-color: #F5F4FA;
    --secondary-border-color: #EEEEEE;
    --secondary-border:#ececec;
    --secondary-color: #C4C4C4;
    --secondary-color-hover:#188CE8;

} 