.wrap-title {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.user-wrapper {
    padding:20px 24px;
   
    border-left: var(--secondary-border-color) 1px solid;
    border-right: var(--secondary-border-color) 1px solid;
    border-bottom: var(--secondary-border-color) 1px solid;
}
.wrap-list {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px
         rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
// .wrap-list:hover,
// .wrap-list:focus {
//     box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px
//      rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
// }

.main-user {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--primary-text-color);
}

.item-main {
    font-size: 16px;
    line-height: 1.88;
    color:var(--secondary-text-color)
}
.photo-user {
    display: block;
}
.wrap-details {
    position:relative;
    overflow: hidden;
    cursor: pointer;
    background: rgba(33, 150, 243, 0.9);
}

.list-details {
    position: absolute;
    transform:translateY(100%);
    transition: background-color;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top:0;
    left:0;
    height: 100%;
    padding :64px 24px;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--primary-white-color);
    background: rgba(33, 150, 243, 0.9);
}

.wrap-details-list:hover .list-details {
    transform: translateY(0);
}